/* replace <hr> with ornament */
.hr {
  border-bottom: 1px solid $black-deep;
  line-height: 0.1em;
  margin: 2.5em 2.5em;
  text-align: center;
  font-feature-settings: 'ornm' 21;
}
.hr::after {
  background: var(--content-bg-color);
  padding: 0 2em;
  content: '•';
}
