$font-family-base =  minion-3, source-han-serif-korean, serif;
$font-family-logo = minion-3-display, source-han-serif-korean, serif;
$font-family-posts = minion-3, source-han-serif-korean, serif;
$font-family-headings = minion-3-display, source-han-serif-korean, serif;
$font-family-kanbun =  minion-3, source-han-serif-korean, serif;
$font-feature-settings-kanbun = 'palt' off, 'pkna' off, "vpal" off, 'fwid' on, 'trad' on, 'ruby' on;
$font-feature-settings-vert = "fwid" on, "lnum" on, "vkrn" on, "liga" on, "palt" on, "vpal" on, "vert" on;
$font-feature-settings-fixed = "kern" on, "liga" on, "palt" off, "vpal" off;
$font-feature-settings-ruby ="palt" off, "pkna" off, "vpal" off, "ruby" on;
$font-feature-settings = "fwid" on, "lnum" on, "kern" on, "liga" on, "palt" on;
$font-language = "KOR";

$font-size-base = 105%;